<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <h6>Your Profile</h6><br>
        <div class="avatar">
          <img class="card-img-top" src="{{user.imageUrl}}" alt="User Profile Image">
        </div>
        <h7><strong>{{user.username}}</strong></h7><br>
        <p class="small"><strong>Overall Kyu:</strong> {{user.overallKyu}}</p>
        <p class="small"><strong>Preferred Location:</strong> {{user.location}}</p>
        <p class="small"><strong>Preferred Language:</strong> {{user.preferredLanguage}}</p>
        <br>
        <p class="small">
          You can always update your language and location!
        </p>

      </div>
    </div>
    <div class="col-md-8">

      {{#if user.location}}

      <div class="card-group">
        {{#each matchedUser as |mUser|}}
          <div class="col-md-4 mUser-3">
            <div class="card">
              <div class="avatar">
                <img class="card-img-top" src="{{mUser.imageUrl}}" alt="User Profile Image">
              </div>
              <div class="card-body">
                <h6 class="card-title">{{mUser.username}}</h6>
                <p class="small card-text">Gender: {{mUser.gender}}</p>
                <p class="small card-text">Overall Kyu: {{mUser.overallKyu}}</p>
                <form action="/chat" method="post" id="dashboardButton">
                  <input type="hidden" name="userOne" value="{{../user.id}}">
                  <input type="hidden" name="userTwo" value="{{mUser.id}}">
                  <button class="btn btn-primary" type="submit">Chat!</button>
                </form>
                <br>
                <a href="/profile/{{mUser.username}}" class="btn btn-primary">See Profile</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>


    {{else}}
    <br>
    <br>
    <div id="empty"
    <h6>Please specify your preferred location at your profile to view available users in your area.</h6>
    <br>
    <br>
    <br>
    <p class="small">
      Want to see more recommended pears? <br> Update your profile with your Preferred Location and Language!
    </p>
  </div>
    {{/if}}
    </div>


    <div class="col">

    </div>


  </div>
</div>
