<div class = "container">
  recommendations page

<p>When redirected to this page, the user can see a bunch of people that are from the same Location, Same Kyu and Language Preferred</p>


{{!-- <p>{{user.username}}</p>
<p>{{#each user.languages}}
{{lang}} {{kyu}} kyu</p>
{{/each}}
<p>{{user.gender}}</p>
<p>{{user.about}}</p>
<p>{{user.overallKyu}}</p> --}}

{{#each matchedUser as |mUser|}}

<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-avatar">
      <img class="img" src="{{user.imageUrl}}" />
    </div>

    <div class="table">
      <h6 class="card-caption">{{mUser.username}}</h6>
      <p>{{#each mUser.languages}}
      {{lang}} {{kyu}} kyu</p>
      {{/each}}
      <p>{{mUser.gender}}</p>
      <p>{{mUser.about}}</p>
      <p>{{mUser.overallKyu}}</p>
      <p>{{mUser.location}}</p>
    </div>
  </div>
</div>
{{/each}}


{{!-- <p>{{mUser.username}}</p> --}}
{{!-- <img class="img" src="{{mUser.imageUrl}}" /> --}}
{{!-- <p>{{#each mUser.languages}}
{{lang}} {{kyu}} kyu</p>
{{/each}}
<p>{{mUser.gender}}</p>
<p>{{mUser.about}}</p>
<p>{{mUser.overallKyu}}</p>
<p>{{mUser.location}}</p>
{{/each}}

</div>

<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-avatar">

    </div>
  </div>
</div> --}}


{{!-- <h3>Search Results</h3>

<div class="userResult">
</div> --}}
