<div class="container">

  <br>

  <img src = "{{ user.imageUrl }}" class="img-thumbnail" max-height="200px">

<div class ="icon-profile">
  <div class ="container">
    <div class="row">
      <div class="col-sm">
        <div class="tile">
          <h3 class="tile-title">
            Languages
          </h3>
          <div class="container ">
            <i class="icon-size devicon-javascript-plain colored"></i>
            <i class="icon-size devicon-ruby-plain colored"></i>
            <i class="icon-size devicon-rails-plain colored"></i>
            <i class="icon-size devicon-html5-plain colored"></i>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="tile">
          <h3 class="tile-title">
            Codewar Rank
          </h3>
          <p>{{ user.username }}</p>
          <p>{{ user.honor }}</p>
          <p>Overall Kyu: {{ user.overallKyu }}</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="tile">
          <h3 class="tile-title">
            Code with me at:
          </h3>
          <p>Jurong Point Library</p>
          <p>Wednesdays and Sundays</p>
          <p>Evenings</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <h7>Email: {{ user.email }}</h7><br>

    <br>

  <h7>Honor: {{ user.honor }}</h7><br>
  <h7>Leaderboard Position: {{ user.leaderboardPosition }}</h7><br>
  <h7>Overall Kyu: {{ user.overallKyu }}</h7><br>

  <br>

  <h7>Languages</h7>
  <ul>
    {{#each user.languages}}
    <li>{{lang}}: {{kyu}} kyu</li>
    {{/each}}
  </ul>

  <br>

  <h7>About Me: {{ user.about }}</h7><br>

  <br>

  <h5>Update Profile</h5>

  <form action="/profile/{{ user.id }}?_method=PUT" method="post">

    <input type="hidden" name="slug" value="{{ user.username }}">

    <label for="email">Email:</label><br>
    <input type="text" name="email" value="{{ user.email }}"><br>

    <br>

    <label for="email">About Me:</label><br>
    <input type="text" rows="3" cols="80" name="about" value="{{ user.about }}"><br>

    <br>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right"></i>
    </button>

  </form>

  <br>
  <br>

  <h5>Delete Profile</h5>

  <form action="/profile/{{ user.id }}?_method=DELETE" method="post">

    <button class="btn waves-effect waves-light" type="submit" name="action">Delete
      <i class="material-icons right"></i>
    </button>

  </form>

  <br>
  <br>

</div>
